body {
  font-family: 'DM Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0; 
  height: 100%;
  overflow-x: hidden;
  padding-left: 103px;
  background: black;
  color: white;
}
@media (max-width: 600px) {
  /* styles when screen is greater than 420px wide but less than 760px */
  /* omitting the 'and (max-width: 760px)' would cause these styles to apply at any width above 420px unless overridden by another media query */
  body {
    padding-left: 20px;
  }
}

code {
  font-family: 'DM Sans', sans-serif;
}
